*.swp
*.*~
logs/
*.pyc
backups/
*.log
*.png
*.json
cybercorp_node/node_modules/
cybercorp_nodeserver/node_modules/
nul

# Temporary runtime files
/var/
cybercorp_node/var/
yolov8n.pt
weights/icon_detect/model.pt
